<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://snproto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>snproto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SNProto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SNProto</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SNTestEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:snazuresql.database.windows.net,1433;Initial Catalog=SNAzureDB;User ID=null@snazuresql.database.windows.net;Password=Letme!in" Name="Data Source=tcp:snazuresql.database.windows.net,1433;Initial Catalog=SNAzureDB;User Id=null@snazuresql.database.windows.net;Password=Letme!in" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimpleFormAuth.Models.SNTestEntities, SimpleFormAuth" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SNTestDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=snazuresql.database.windows.net;Database=SNAzureDB;Uid=snadmin;Pwd=Letme!in;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SNTestDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=snazuresql.database.windows.net;Database=SNAzureDB;Uid=snadmin;Pwd=Letme!in;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SNTestDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SNTestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LoginDataModel.csdl|res://*/Models.LoginDataModel.ssdl|res://*/Models.LoginDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:snazuresql.database.windows.net,1433;Initial Catalog=SNAzureDB;User Id=null@snazuresql.database.windows.net;Password=Letme!in"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>