@import "bootstrap";



body{		
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #f2f2f2;
}
body.home{	
	background: url(../images/body-bg.jpg) no-repeat center top; 
	background-size: 100% ;
	
}

.container-fluid{
	width:100%;
	margin: 0px;
	padding: 0px;	 
}

.head-section{
	background: #ffffff;
}

.container{
	margin: 0px auto;
	padding: 0px;	
}

.row {
    margin-left: 0px;
    margin-right: 0px; 
}

.loginbox{
		background: #ffffff;
		margin-top: 8%; 
		-webkit-box-shadow:0px 0px 10px 5px rgba(0,0,0,0.65);
		-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.65);
		box-shadow:0px 0px 10px 5px rgba(0,0,0,0.65);
	.col-6{
			padding-right: 0px;
			padding-left: 0px;
	}

	.line{
		
		img{
			width: 100%;
			padding: 77px 70px;
			text-align: center;
		}
	}
}

.btn{
	width: 100%;
}

.btn-group, .btn-group-vertical{
	width: 100%;
}

.input-group, .form-group{
	margin-top: 0px;
}

.home .input-group,  .home .form-group{
	margin-top: 20px;
}

body.inner{
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
	.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
	.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
	.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
	.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
	.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
	.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
	.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
	.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		padding-right: 0px;
		padding-left: 0px;
	}
}

.panel{
	border-left: 1px solid #eaeaea;
	margin-bottom: 0px;
	padding-bottom: 40px;

	background-color: #fff;
    border-right: none;
     border-bottom: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.0);
    box-shadow: 0 1px 1px rgba(0,0,0,0.0);
}

.panel-heading{
	background: #ededed;
	text-align: center;
	padding: 40px 0;
	text-transform: uppercase;
	
}

.panel-body{
	padding: 15px 40px;
}

.panel-title{
	font-size: 30px;
}



.form-control{
	height: 35px;
}

.home .form-control{
	height: 45px;
}

.input-group-addon{
	padding: 8px 12px;
}

.home .input-group-addon{
	padding: 13px 12px;
}

.head-section{	
	padding:  10px 0;
	background: #ffffff;
	.col-4{
		img{
			width: 50%;
		}
	}
}

.login-menu{
	text-align: right;
	margin-top: 35px;
	ul{
		list-style: none;
		li{
			display: inline;
			a{
				margin: 0 10px;
				padding: 0 5px;
				color: #143066;
			}
		}
	}
}

.main-menu{
	background: #143066;
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		li{
			display: inline;
			float: left;
			padding: 0px;
			margin: 0px 0;
			position: relative;
			a{
				margin: 0;
				padding: 10px 15px;
				color: #ffffff;
				text-transform: uppercase;
				&:hover, &:focus, &:active, &.current {
			 		text-decoration:none;
			 		background:#19459a; 
			 	}			 	
			}
		}
	}
}

.main-menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}



.main-menu ul ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 29px;
  		left: 0;
  		background:#19459a;
  		width: 200px;
  		display: none;
  		z-index: 999;
		  li{
			display: inline;
			float: left;
			padding: 0px;
			margin: 10px 0;
			width: 100%;
				  a{
					margin: 0;
					padding: 10px 15px;
					color: #ffffff;
					text-transform: uppercase;
					width: 100%;
					   a:hover, a:focus, a:active, a.current {
				 		text-decoration:none;
				 		background: #143066;
				 	}
				 }
			}
		}

.pagination	{
	float: right;
	margin:10px 0;
}

.table-list-title{
	h3{
		text-align: left;
		margin: 60px 0 0 0;
		padding: 0px;
		font-weight: bold;
		font-size: 18px;
	}
	h4{
		text-align: right;
		margin: 29px 0 0 0;
		padding: 0px;
		font-weight: normal;
		font-size: 15px;
	}
}

.rTable { display: table; }
.rTableRow { display: table-row;}
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group;  }
.rTableFoot { display: table-footer-group;    }
.rTableCell, .rTableHead { display: table-cell;  border: 1px solid #f00;  margin: 2px 0; padding: 0px  }



.div-table {
  border:1px solid #c0c0c0; 
  margin-bottom: 30px;
  background: #ffffff;
  .div-tr {
    border-bottom:1px solid #c0c0c0;
    width:100%;
    float:left;
    &:nth-child(even) {
      /*background-color:#ccc;*/
    }
    &:last-child {
      border-bottom:0px;
    }
  }
  .div-th {
    font-weight:bold;
    text-align:center;
    padding: 5px 0;
    background: #eaeaea;
    ~ .div-th {
      border-left:1px solid #c0c0c0;
    }
  }
  .div-td {
    ~ .div-td {
      border-left:1px solid #c0c0c0;     
      padding: 3px 0 3px 3px;
    }
  }
  .div-th {
    font-weight:bold;
    text-align:center;
     .col-6 {
  		 text-align:center;
  	}
     .left-line {
      text-align:center;
      border-left:1px solid #c0c0c0;
     
    }
  }
  .div-td {
  	.col-6 {
  		 text-align:center;
  		 padding-top: 3px;
  	}
     .left-line {
      text-align:center;
      border-left:1px solid #c0c0c0;
      padding-top: 3px;
    }
  }
}

.students-detail{
	margin: 0px 0;
	.container{
		padding:  20px;
		border:1px solid #c8c8c8;
		background: #ffffff; 
		font-size: 14px;
		font-weight: normal;
		.row{
			margin: 10px 0;
		}
		.col-2{
			padding: 7px 0 0 4%;
		}
		.btn-lg, .btn-group-lg>.btn{
			padding: 6px 16px;
		}
	}
}


	.search-title{
		margin-top: 20px;
		.row h3{
			background:#8d9195;
			text-align: center;
			color: #ffffff;
			margin: 0px;
			padding: 8px 0 6px 0;
			font-weight: 300;
			font-size: 15px;
			text-transform: uppercase;
		}
	}


.add-user{
	margin: 0px 0;	
	.container{
		padding:  20px;
		border:1px solid #c8c8c8;
		background: #ffffff; 
		font-size: 14px;
		font-weight: normal;
		.row{
			margin: 10px 0;
		}
		.col-1{
			padding: 7px 0 0 3%;
		}
		.col-3{
			padding: 0px 0 0 4%;
		}
		.btn-lg, .btn-group-lg>.btn{
			padding: 5px 16px;
		}
	}
}

.add-title{
	
	.row h3{
		background:#19459a;
		text-align: center;
		color: #ffffff;
		margin: 0px;
		padding: 10px 0 8px 0;
		font-weight: 300;
		font-size: 18px;
		text-transform: uppercase;
	}
}

input[type="radio"], input[type="checkbox"]{
	margin: 3px 0 0;
}

.expand-tab{
	display: none;
}

@media (max-width: 1070px){
.div-table{		
		font-size: 13px;
	}
}


@media (max-width: 992px){
	body.home{
		background-size: auto 200%;
	}
	.loginbox .line img{
		padding: 30% 15%;
	}
	.loginbox{
		margin-top: 13%;
	}

	.main-menu ul li a{
		padding: 10px 3px;
	}
	.add-user .container{
		font-size: 14px;
		.col-1{
			padding: 7px 0 0 1%;
		}
	}

	.students-detail .container .col-2{		
			padding: 7px 0 0 2%;		
	}
	.div-table{
		word-wrap: break-word;
		font-size: 12px;
	}
}

@media (max-width: 920px){
.div-table{		
		font-size: 9px;
	}
}


@media (max-width: 767px){

	.table-list-title h3{

		margin-top: 15px;
	}
	.table-list-title h4{

		margin-top: 10px;
	}

	.panel{
		border: none;
	}

	.loginbox{
		    margin: 8% 4%;
	}

	.loginbox .line img{
			padding: 2% 15%;
	}

	.head-section{
		.col-4{
			width: 50%;
			float:left;
		}
		.col-8{
			width: 50%;
			float:left;			
		}
		.login-menu ul{
				padding: 0px !important;
				-webkit-padding-start: 0px !important;
			}
	}
	.students-detail .container .col-2{		
			padding: 7px 0 0 0%;		
	}
	.students-detail .container .row{
		margin: 0px 0;
	}
	.add-user .container .col-3{
		padding: 10px 0 0 0%;	
	}
	.btn-lg, .btn-group-lg>.btn{
		margin-top: 10px;
	}

	.field-two, .field-four, .field-six, .field-eight{
		display: none;
	}

	.div-table{
		.col-sm-1, .col-sm-2{
			width: 21%;
			float: left;
		}
		.col-sm-3{
			width: 28%;
			float: left;
		}

	}
	.div-table{
		.col-sm-1{
			.col-sm-6{
				width: 50%;
				float: left;
			}

		}
	}

	.div-table .div-th ~ .div-th{
		min-height: 30px;
		padding: 10px 0 0 0;
	}
	.div-table .div-th .left-line{
		padding: 5px 0 0 0;
	}

	.expand-tab{
		display: block;
		margin: 0px auto 10px auto;
		width: 98%;
		padding: 5px 16px;
	}

	.expand-table{
			overflow-x: scroll;
		.field-two, .field-four, .field-six, .field-eight{
			display: block;
		}

	}
	.expand-table .col-sm-1, .div-table .col-sm-2{
		width: 9%;
	}
	

	.expand-table .row{
		width: 800px;
		
		
	}

	.navbar-toggle {
		background: #ffffff;
	}
	.menu-txt{
		color: #ffffff;
		padding: 16px 0px 0 10px;
		text-transform: uppercase;
		float: left;
	}
	.navbar-toggle .icon-bar{
		background: #143066;
	}

	.main-menu ul li{
		display: block;
		margin: 0px;
		border-bottom: 1px solid #ffffff;
		width: 100%;
	}
	.main-menu ul li a{
		padding: 10px;
	}
	.navbar-collapse{
		padding: 0px;
	}

}

@media (max-width: 620px){

	.head-section{
		.col-4{
			width: 40%;
			float:left;
		}
		.col-8{
			width: 60%;
			float:left;			
		}
	}
}

@media (max-width: 520px){
	.head-section{
		.col-4{
			width: 100%;
			float:none;
			display: block;
			text-align: center;
		}
		.col-8{
			width: 100%;
			float:none;	
			display: block;	
		}
		.login-menu{
			text-align: center;
		}
	}

}

@media (max-width: 460px){
	.panel-body{
		    padding: 15px 20px;
	}

}

@media (min-width: 768px){
	.container {
	    width: 95%;
	}
}


